@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,ul,li,ol{
    margin: 0;
    padding: 0;
}
a,ul,li{
    text-decoration: none;
    list-style: none;
}
.header{
    background-color: papayawhip;
    height: 81px;
    }
.logo{
    float: left;
}
.gnb{
    float: left;
}
.util{
    float: right;
}
header>.gnb>.depth1{
    
}
header>.gnb>.depth1>li{
    float: left;
}
header>.gnb>.depth1>li>a{
    color: #259; font-size: 20px; font-weight: bold;
}
header>.gnb .depth2{

}
header>.gnb .depth2>li{

}
header>.gnb .depth2>li a{
    color: teal;
    font-size: 16px;
}
header>.gnb .depth3{

}
header>.gnb .depth3>li{

}
header>.gnb .depth3>li a{
    color: teal;
    font-size: 16px;
}
header>.gnb .depth4{

}
header>.gnb .depth4>li{

}
header>.gnb .depth4>li a{
    color: teal;
    font-size: 16px;
}
header>.gnb .depth5{

}
header>.gnb .depth5>li{

}
header>.gnb .depth5>li a{
    color: teal;
    font-size: 16px;
}