@charset "utf-8";
html,body,div,header,article,aside{
    margin: 0;
    padding: 0;
}
.wrap{
    /* width: 1000px; */
    /* margin: 0 auto; */

}
#header{
    border-bottom: 1px solid blueviolet;
}
#header .inner{
    background-color: aqua;
    width: 1000px;
    margin: 0 auto;
}
.wrap .cont{
    width: 1000px;
    border: 1px solid brown;
    margin: 0 auto;
    /* overflow: auto; */
}
.wrap .cont .article{
    background-color: burlywood;;
    width: 800px;
    height: 800px;
    float: left;
}
.wrap .cont .aside{
    background-color: greenyellow;;
    width: 200px;
    height: 600px;
    float: left;
}
.cont::after{
    content: '';
    display: block;
    clear: both;
}
