html,body,div,header,footer{
    margin: 0;
    padding: 0;
}

#header{
    border: 1px solid burlywood;
}
.wrap .inner{
    background-color: antiquewhite;
    width: 1000px;
    margin: 0 auto;
    height: 100px;
}

.cont{
    border: 1px solid salmon;
    width: 1000px;
    margin: 0 auto;
}
.cont .menu{
    width: 500px;
    height: 1000px;
    background-color: seagreen;
    float: left;
}
.cont .article{
    width: 250px;
    height: 900px;
    background-color: goldenrod;
    float: left;
}
.cont .aside{
    width: 250px;
    height: 600px;
    float: left;
    background-color: coral;
}
.cont::after{
    content: '';
    display: block;
    clear: both;
}
#footer .inner{
    background-color: cornflowerblue;
}
