/* ------------------공통영역------------------ */
html,
body,
h1,
h2,
ul,
li,
ol,
a,
p,
div {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
}

body {
    font-family: '맑은 고딕', '돋음', Arial, Helvetica, sans-serif;
    line-height: 1.9;
    font-size: 16px;
}

.mainCont {
    border: 1px solid greenyellow;
}

.inner {
    width: 1168px;
    margin: 0 auto;
    /* background-color: blanchedalmond; */
}

/* ------------------메인영역------------------ */
.titMain {
    /* border: 1px solid #000; */
    font-size: 40px;
    line-height: 1;
    margin-bottom: 60px;
    font-weight: 600;
    color: #292929;
}

.wtsNew::after {
    content: '';
    display: block;
    clear: both;
}

.wtsNew {}

.wtsNew li {
    float: left;
    margin-right: 35px;
}

.wtsNew li a {
    display: block;
    box-shadow: 0 3px 4px #0000001c;
    overflow: hidden;
    border-radius: 10px;
}

.wtsNew li:last-child {
    margin-right: 0;
}

.wtsNew .con {
    padding: 30px 0 30px 24px;
}

.wtsNew .con .tit {
    font-size: 18px;
    color: #292929;
    line-height: 1.7;
}

.inner .wtsNew:last-child {
    margin-top: 50px;
}

/* ------------------버튼영역------------------ */
.btnMore {
    border: 1px solid darkblue;
    text-align: center;
}

.btnMore .more {
    border: 1px solid skyblue;
    display: inline-block;
    text-indent: -9999px;
    width: 90px;
    height: 90px;
    background-image: url(./img/btn_more.png) no-repeat 0 0;
}