@charset 'utf-8';

/* swiper */

.mainVisArea .mainSlide .swiper-button-prev {
    width: 70px;
    height: 70px;
    background: url(../img/imgRoll_prev.png) no-repeat 0 0;
}

.mainVisArea .mainSlide .swiper-button-next {
    width: 70px;
    height: 70px;
    background: url(../img/imgRoll_next.png) no-repeat 0 0;
}

.mainVisArea .mainSlide .swiper-button-prev:hover {
    background-image: url(../img/imgRoll_prev_on.png);
}

.mainVisArea .mainSlide .swiper-button-next:hover {
    background-image: url(../img/imgRoll_next_on.png);
}

.mainVisArea .mainSlide .swiper-button-prev::after {
    display: none;
}

.mainVisArea .mainSlide .swiper-button-next::after {
    display: none;
}

.mainVisArea .mainSlide .swiper-pagination {
    background: rgba(0, 0, 0, .6);
    width: auto;
    height: 11px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    padding: 15px 65px 15px 31px;
    border-radius: 23px;
}

.mainVisArea .mainSlide .swiper-pagination .swiper-pagination-bullet {
    vertical-align: top;
    width: 11px;
    height: 11px;
    background: url(../img/imgRoll_indi.png) no-repeat 0 0;
}

.mainVisArea .mainSlide .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url(../img/imgRoll_indi_on.png);
}

.mainVisArea .mainSlide .swiper-pagination .playBtn {
    display: inline-block;
    background: url(../img/play_bt.png) no-repeat right top;
    width: 41px;
    height: 41px;
    position: absolute;
    top: 0;
    right: 0;
}

.mainVisArea .mainSlide .swiper-pagination .playBtn.on {
    background: url(../img/play_bt_on.png);
}