@charset 'utf-8';

#wrapper{}
#main_visual{width: 100%; }
#main_visual img{width: 100%;}

#category{background: url(../images/main/category_bg.png) no-repeat 50% / cover; height: 430px; display: flex; justify-content: center; align-items: center;}
#category ul{max-width: 1240px; width: 100%; height: 265px; display: flex; justify-content: space-between;}
#category ul li{width: 290px; height: 100%; padding: 2px; box-sizing: border-box; border-radius: 25px; overflow: hidden;
    background: linear-gradient(142deg, #5d60e2 0%, #09adec 45%, #4669fd 100%);}
#category ul li a{display: block; height: 100%; padding: 53px 0 0 47px; box-sizing: border-box; background: #07102a; border-radius: 25px; position: relative;}
#category ul li a p{font-size: 25px; font-weight: 500; color: #fff; margin-top: 50px;}
#category ul li:nth-child(1) a p{margin-top: 30px; line-height: 1.4;}
#category ul li:nth-child(2) a p{margin-top: 30px; line-height: 1.4;}
#category ul li:nth-child(3) a p{margin-top: 30px; line-height: 1.4;}
#category ul li:nth-child(4) a p{margin-top: 30px; line-height: 1.4;}
#category ul li a .ct_arrow_ico{position: absolute; right: 46px; bottom: 44px; opacity: 0; transition: all .3s;}
#category ul li:hover a .ct_arrow_ico{bottom: 56px; opacity: 1;}

#bdf_video{background: url(../images/main/youtube_bg.png) no-repeat center / cover; text-align: center; padding: 125px 0 62px;}
#bdf_video h2{font-size: 35px; color: #4001c2; margin-bottom: 2px; font-family: 'GmarketSans';}
#bdf_video p{font-size: 20px; color: #4b3aa1; margin-bottom: 30px;}
#bdf_video .youtube_wrap{max-width: 920px; margin: 0 auto; background: cyan; padding-bottom: 517px; position: relative; border-radius: 25px; overflow: hidden;}
#bdf_video .youtube_wrap iframe{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
