/* -----------------------------------공통----------------------------------- */
html,body,header,div,h1,h2,h3,h4,h5,h6,nav,a,img,ul,ol,li,p{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: '맑은 고딕','돋음',Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}
img{
    vertical-align: middle;
}
/* -----------------------------------헤더---------------------------------- */
.header{
    background-color: #f59794;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.header .wrap{
    margin: 0 auto;
    width: 1280px;
}
.wrap::after{
    content: '';
    display: block;
    clear: both;
}
h1{
    float: left;
}
h1 a{
    display: block;
}
h1 a img{
    width: 93px;
    height: auto;
}
.gnb{
    float: right;
}
.gnb ul::after{
    content: '';
    display: block;
    clear: both;
}
.gnb>ul>li{
    float: left;
    position: relative;
}
.gnb>ul>li>a{
    display: block;
    padding: 0 45px;
    line-height: 100px;
    font-size: 22px;
    color: #fff;
    
}
.gnb ul{
    content: '';
    display: block;
    clear: both;
}
.gnb .depth2{
    background-color: #3282c778;
    box-shadow: 4px 4px 5px #ababab;
    position: absolute;left: 0;top: 100px;width: 100%;
    display: none;
}
.gnb .depth2 li{
    text-align: center;
}
.gnb>ul>li:hover{
    font-weight: bold;
}
.gnb .depth2 li a{
    color: #fff;
    line-height: 40px;
}
.gnb>ul>li:hover .depth2{
    display: inline;
}
.menu{
    position: absolute;
    right: 60px;
    top: 40px;
}
.menu span{background-color: snow;width: 30px;height: 2px;display: block;}
.menu span:nth-child(2){margin-top: 4px;}
.menu span:nth-child(3){margin-top: 4px;}