* {
    box-sizing: border-box;
    margin: 0;
}

.slideshowContainer {
    max-width: 1280px;
    position: relative;
    margin: auto;
}

/* 이미지 숨기기로 초기화 */
.slide {
    display: none;
}

/* 이전 버튼, 다음 버튼 */
.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    font-size: 18px;
    padding: 16px;
    margin-top: -25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: 0.6s ease;
}
.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* 그림 제목 */
.caption {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #f2f2f2f2;
    font-size: 15px;
    background-color: rgba(0,0,0,0.5);
    padding: 3px;
}

/* 슬라이드 번호 */
.number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* 하단 둥근 점(인디게이터) */
.dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #bbbbbb;
    margin: 0 2px;
    cursor: pointer;
    transition: 0.6s ease;
}
.dot:hover,
.active {
    background-color: #777777;
}

/* fade 효과 적용 */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    /*animation: fade 1.5s;*/
}

@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}