@charset 'utf-8';
@import url('https://webfontworld.github.io/dgb/IMHyemin.css');
body{font-family: 'IMHyemin'; font-size: 16px; font-weight: 400; color: #fff; line-height: 1;}
html, body, h1, h2, h3, h4, h5, h6, p, address, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{	margin: 0;	padding: 0;	border: 0;}
ol, ul{list-style: none;}
button{cursor: pointer;}
a{text-decoration: none; color: inherit;}
em{font-style: normal;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}