/* 공통 */
.inner-wrap{width: 1180px; margin: 0 auto;}
.inner-wrap::after{display: block; content: ""; clear: both;}

/* 헤더 영역 */
header{position: fixed; left: 0; top: 0; width: 100%; z-index: 9999; height: 100px; background-color: #000;}
header h1{float: left; margin-top: 27px; font-size: 32px; font-weight: bold; color: #fff;}
header nav{float: right; margin-top: 20px;}
header nav #gnb::after{display: block; content: ""; clear: both;}
header nav #gnb > li{float: left; margin-left: 80px;}
header nav #gnb > li > a{display: block; height: 60px; line-height: 60px; font-size: 20px; color: #fff;}

/* 메인비주얼 영역 */
.mainvisual-wrap{height: 100vh; background: #1F47FC no-repeat center center;}
.mainvisual-wrap .inner-wrap{height: 100%; position: relative;} 
.mainvisual-wrap .txt-wrap{position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.mainvisual-wrap .txt-wrap .p1{font-size: 60px; font-weight: 100; line-height: 80px;}
.mainvisual-wrap .txt-wrap .p2{font-size: 26px; margin-top: 30px;}
.mainvisual-wrap .txt-wrap p span{font-weight: 700;}
.mainvisual-wrap .txt-wrap p strong{color: #1F47FC;}

/* section 공통 */
.sec h2{position: relative;}
.sec h2 span{display: block; font-size: 48px; }
.sec .btn-wrap{margin-top: 40px; font-size: 0;}

.sec .btn-wrap .btn-typeA{display: inline-block; margin-right: 20px; background-color: #072d97; width: 140px; height: 40px; border-radius: 20px ; border: 1px solid #000; font-size: 16px; font-weight: 500; text-align: center;}
.sec .btn-wrap .btn-typeA a{display: block; height: 100%; line-height: 40px; color: #fff;}
.sec ul{margin-top: 80px;}
.sec ul li{overflow: hidden;}
.sec ul li:nth-child(1){margin-top: 0;}
.sec .col-left{float: left; width: 580px;}
.sec .col-right{float: right; width: 580px;}
.sec .title{font-size: 40px;}
.sec .title span{font-weight: 700;}
.sec .info-wrap{margin-top: 40px;}
.sec .info-wrap dl{margin-top: 8px; overflow: hidden; font-size: 18px;}
.sec .info-wrap dl:nth-child(1){margin-top: 0;}
.sec .info-wrap dl dt{float: left; font-weight: 700;}
.sec .info-wrap dl dd{float: right; width: 450px;}
.sec .col-right .thumb{text-align: right;}

/* about 영역 */
#about-wrap{height: 100vh; padding:160px 0; box-sizing: border-box; background:#607dff; color: #fff;}
#about-wrap .inner-wrap{height: 100%; position: relative;}
#about-wrap .inner-wrap::before{display: block; content: ""; width: 1180px; height: 1px; background-color: rgba(255, 255, 255, 0.6); position: absolute; top: 340px; left: 0;}
#about-wrap .about1{width: 680px; position: absolute; left: 0; top: 0; }
#about-wrap .about1 .txt-wrap{float: left;}
#about-wrap .about1 .txt-wrap h2{font-size: 24px; font-weight: 300;}
#about-wrap .about1 .txt-wrap .name{font-size: 48px; font-weight: 700;}
#about-wrap .about1 .txt-wrap .info-wrap{margin-top: 22px; font-size: 18px; font-weight: 500; line-height: 26px;}
#about-wrap .about1 .photo{float: right;}
#about-wrap .about2{position: absolute; top:400px; left: 0; width: 100%;}
#about-wrap .about2 .txt-wrap{float: left;}
#about-wrap .about2 .txt-wrap:nth-child(1){margin-left: 0;}
#about-wrap .about2 .txt-wrap em{font-size: 20px; font-weight: 700;}
#about-wrap .about2 .txt-wrap .info-wrap{font-size: 18px; margin-top: 10px;}
#about-wrap .about2 .txt-wrap .info-wrap dl{overflow: hidden; margin-top: 10px;}
#about-wrap .about2 .txt-wrap .info-wrap dl:nth-child(1){margin-top: 0;}
#about-wrap .about2 .txt-wrap .info-wrap dl dt{float: left; width: 110px;}
#about-wrap .about2 .txt-wrap .info-wrap dl dd{float: left; width: auto; margin-left: 20px; }
#about-wrap .about2 .box2{float: right;}
#about-wrap .about2 .box3{clear: both; margin-top: 40px;}


/* video 영역 */
#video-wrap{padding:160px 0; background-color: #1F47FC; color: #fff;}
#video-wrap h2::before{background-color: #fff;}
#video-wrap ul li{float: left; width: 580px; margin-left: 20px;}
#video-wrap ul li:nth-child(1){margin-left: 0;}
#video-wrap ul li .video{height: 327px; background: #fff;}
#video-wrap ul li .title{display: block; margin-top: 40px; font-weight: 700;}
#video-wrap ul li .info-wrap{margin-top: 20px;}
#video-wrap ul li .info-wrap dl{overflow: hidden; font-size: 18px; margin-top: 8px;}
#video-wrap ul li .info-wrap dl:nth-child(1){margin-top: 0;}

/* web 영역 */
#web-wrap{padding:160px 0; background-color: #000; color: #fff;}
#web-wrap ul li:last-child{margin-top: 120px;}
#web-wrap ul li .info-wrap .desc{margin-top: 40px; font-size: 18px;}

/* coding 영역 */
#coding-wrap{padding:160px 0;}
#coding-wrap ul{overflow: hidden;}
#coding-wrap ul li{float: left; width: 50%;}

/* graphic 영역 */
#graphic-wrap{padding:160px 0; background-color: #F5F5F5;}
#graphic-wrap > .inner-wrap > ul > li:nth-child(2){margin-top: 120px;}
#graphic-wrap ul li .col-right .txt-wrap{width: 480px; float: right;}
#graphic-wrap ul li .col-left .txt-wrap{width: 480px;}
#graphic-wrap ul li .info-wrap dl dd{width: 350px;}
#graphic-wrap ul li:nth-child(1) .color-list{overflow: hidden; margin-top: 340px;}
#graphic-wrap ul li:nth-child(1) .color-list li{float: left; margin-right: 20px;}
#graphic-wrap ul li:nth-child(1) .color-list li .color{display: block; width: 60px; height: 60px; border-radius: 50%;}
#graphic-wrap ul li:nth-child(1) .color-list .list1 .color{background:#1A4730;}
#graphic-wrap ul li:nth-child(1) .color-list .list2 .color{background: #D13133;}
#graphic-wrap ul li:nth-child(1) .color-list .list3 .color{background: #FDEEC7;}
#graphic-wrap ul li:nth-child(2) .color-list{overflow: hidden; margin-top: 220px;}
#graphic-wrap ul li:nth-child(2) .color-list li{float: left; margin-right: 20px;}
#graphic-wrap ul li:nth-child(2) .color-list li .color{display: block; width: 60px; height: 60px; border-radius: 50%;}
#graphic-wrap ul li:nth-child(2) .color-list .list1 .color{background:#E95553;}
#graphic-wrap ul li:nth-child(2) .color-list .list2 .color{background: #FDD4D6;}
#graphic-wrap ul li:nth-child(2) .color-list .list3 .color{background: #5A3527;}
#graphic-wrap ul li .color-list li .code{display: block; margin-top: 10px;font-size: 14px;}
#graphic-wrap .keyword{margin-top: 20px; font-size: 20px;}
#graphic-wrap .keyword span{font-weight: 700;}
#graphic-wrap .desc{margin-top: 60px; font-size: 20px;}

/* contact 영역 */
/* #contact-wrap{padding: 220px 0; background: url(../images/contact_bg.png) no-repeat center center; background-size: cover;}
#contact-wrap .inner-wrap{height: 180px; position: relative;}
#contact-wrap .txt{font-family: 'Jost', sans-serif; font-size: 64px; text-align: center; color: #fff; }
#contact-wrap .contact{width: 700px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); font-family: 'Jost', sans-serif; font-size: 32px; color: #fff;}
#contact-wrap .contact li{padding-left: 54px; position: relative;}
#contact-wrap .contact li:nth-child(1){float: left;}
#contact-wrap .contact li:nth-child(2){float: right;}
#contact-wrap .contact li span{display: inline-block; width: 48px; height: 48px;  position: absolute; top: 0; left: 0;}
#contact-wrap .contact li .ico-email{background: url(../images/ico_email.png) no-repeat center;}
#contact-wrap .contact li .ico-phone{background: url(../images/ico_phone.png) no-repeat center;}
#contact-wrap .contact li em{display: inline-block;} */

/* footer 영역 */
footer{padding: 80px 0; background: #000;}
footer p{text-align: center; color: #fff;}
footer .copy{font-family: 'Jost', sans-serif; font-size: 24px;}
footer .txt{margin-top: 10px; font-size: 20px;}

/* paging & btn-top */
.paging{position: fixed; right: 3%; top: 50%; transform: translateY(-50%); display: flex; flex-direction: column; background-color: darkblue; color: wheat;}
.paging span{display: inline-block; width: 32px; height: 32px; border-radius: 50%; background-color: saddlebrown; box-sizing: border-box; text-indent: -9999px; cursor: pointer;}
.paging span + span{margin-top: 8px;}
.paging span.on{background-color: seagreen; border: 1px solid crimson;}

.btn-top{position: fixed; right: 3%; bottom: 263px;}
.btn-top button{cursor: pointer; background-color: transparent; border: none; font-size: 14px; background: transparent url(../images/arrow-up-circle-line.png) no-repeat 50% top; padding-top: 32px;}
.btn-top button span{/* display: block; text-indent: -9999px; */}