@charset "UTF-8";

@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Arita-dotum-Medium';
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
p,
button,
form,
fieldset {
    margin: 0;
    padding: 0;
}

section {
    max-width: 1240px;
    margin: auto;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

p {
    line-height: 1.5;
    color: #333;
}

button {
    font-family: 'Arita-dotum-Medium';
}

img {
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}

.header {
    position: fixed;
    width: 100%;
    transition: all .4s;
    z-index: 999;
    background: linear-gradient(to bottom, rgba(0,0,0,.25), transparent);
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    color: #bcbcbc;
}

.header:hover {
    background: #fff;
    color: #000;
}

.header a {
    color: #fff;
}

.header:hover a {
    color: #000;
}

.header .logo {
    position: relative;
}
.header .logoB {
    display: none;
    position: absolute;
    top: 0;
}

.header:hover .logo .logoB {
    display: block;
}

.header .headWrap {
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
}

.header .leftbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .leftbox .logo {
    width: 160px;
}

.header .leftbox .nav {
    padding-left: 40px;
}

.header .leftbox .nav ul {
    display: flex;
    flex-direction: row;
}

.header .leftbox .nav ul li {
    padding-right: 80px;
}

.header .leftbox .nav ul li a {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 80px;
}

.header .rightbox {
    display: flex;
    align-items: center;
}

.cont {
    position: relative;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .align {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1320px;
    height: 100%;
    width: 100%;
    padding: 0 60px;
}

.swiper-slide .align .txtbox {
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    padding-top: 50px;
    position: absolute;
    text-align-last: left;
    cursor: pointer;
}

.swiper-slide .align .txtbox .title {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: -0.04em;
}

.swiper-slide .align .txtbox .onepoint {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 300;
}

.swiper-slide .align .txtbox .date {
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
}

.swiper-slide .align .btn_event_go {
    position: absolute;
    left: 60px;
    bottom: 40px;
    border: 1px solid #555;
    width: 110px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 300;
    color: #333;
    background-color: transparent;
    z-index: 2;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.swiper-slide .align .btn_event_go:hover {
    background-color: #666;
    color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
    width: 60px;
    height: 60px;
}

.align_box02 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 1600px;
    width: 100%;
    z-index: 1;
}

.swiper-button-next {
    background: url(../images/main_next_btn.png) no-repeat center / cover;
}

.swiper-button-prev {
    background: url(../images/main_prev_btn.png) no-repeat center / cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next:hover {
    background: url(../images/main_next_btn_hover_1.png)
}

.swiper-button-prev:hover {
    background: url(../images/main_prev_btn_hover_1.png)
}

.swiper_control {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.swiper-pagination {
    flex: 0 0 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 17%;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 2px;
    background-color: rgba(51,51,51,0.1);
    border-radius: 0;
    flex: 1 0 1px;
    opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    transition: all .4s;
}

.swiper-pagination-bullet-active {
    background-color: #333;
}

.main_prd_list {
    max-width: 1240px;
    margin: 48px auto 0;
}

.main_prd_list .w1200 {
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.main_prd_list .w1200 .tit_box {
    display: flex;
    align-items: center;
}

.main_prd_list .w1200 .tit_box .text01 {
    font-size: 28px;
}

.prd_list_slide .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    width: 224px;
    margin-right: 20px;
    position: relative;
}

.main_prd_list .w1200_2 .prd_tab_con {
    height: auto;
    padding-top: 30px;
    overflow: visible;
}

.prd_list_slide .swiper-wrapper .swiper-slide .tmbhover {
    display: none;
}

.prd_list_slide .swiper-wrapper .swiper-slide:hover .tmbhover{
    display: block;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.prd_info {
    min-height: 70px;
    text-align-last: left;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}

.prd_desc {
    margin-top: 15px;
    margin-left: 0;
}

.prd_name {
    font-size: 16px;
    line-height: 1.2;
    word-break: keep-all;
}

.prd_price {
    font-size: 18px;
    font-weight: 600;
    margin-top: 6px;
}

.main_btn_typeA {
    margin-top: 48px;
    padding-right: 0;
    text-align: center;
}

.main_btn_typeA button {
    width: auto;
    padding: 0 60px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #666;
    background-color: #fff;
}

.main_btn_typeA button::after {
    content: '';
    display: inline-flex;
    width: 5px;
    height: 9px;
    margin-left: 10px;
    background: url(../images/icon_main_btn.png) no-repeat 0 0 / cover;
}


/* sec3 */
.secToday .todaySect {
    position: relative;
    height: 275px;
    margin: 85px 0;
    letter-spacing: -0.03em;
    color: #333;
}

.todayTxt {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 40px 56px 30px 60px;
    cursor: pointer;
}

.todayTit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todayTit h3 {
    font-size: 28px;
    letter-spacing: -0.05em;
    font-weight: 500;
}

.todayTxt h4 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 40px;
}

.todayPrice {
    display: flex;
    gap: 15px;
    align-items: center;
}

.todayPrice .cost {
    font-size: 18px;
    color: #847A8A;
    text-decoration: line-through;
}

.todayPrice .discount {
    font-size: 30px;
}

.todayPrice .salePer {
    font-size: 27px;
    font-weight: 500;
    color: #fff;
    width: 74px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #FD5C5C;
    display: flex;
    justify-content: center;
    align-items: center;
}