@charset "UTF-8";
@import url(reset.css);

.header {
    position: fixed;
    width: 100%;
    transition: all .4s;
    z-index: 999;
    background: linear-gradient(to bottom, rgba(0,0,0,.25), transparent);
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    color: #bcbcbc;
}

.header:hover {
    background: #fff;
    color: #000;
}

.header a {
    color: #fff;
}

.header:hover a {
    color: #000;
}

.header .logo {
    position: relative;
}
.header .logoB {
    display: none;
    position: absolute;
    top: 0;
}

.header:hover .logo .logoB {
    display: block;
}

.header .headWrap {
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .leftbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .leftbox .logo {
    width: 160px;
}

.header .leftbox .nav {
    padding-left: 40px;
}

.header .leftbox .nav ul {
    display: flex;
    flex-direction: row;
}

.header .leftbox .nav ul li {
    padding-right: 80px;
}

.header .leftbox .nav ul li:hover a {
    color: #6C801A;
}

.header .leftbox .nav ul li a {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 80px;
}

.header .rightbox {
    display: flex;
    align-items: center;
}

.header .rightbox .nav_util {
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.header .rightbox .nav_util .item {
    position: relative;
    margin-right: 15px;
    flex: 0 0 28px;
}

.inpSrchWrap {
    position: relative;
    width: 40px;
    height: 40px;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.inpSrchWrap i {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    background: url(../images/Icon_search_white.png) no-repeat center/20px 20px;
    cursor: pointer;
}

.header:hover .inpSrchWrap i {
    background-image: url(../images/Icon_search.svg);
}

.header .rightbox .nav_util .item .nav_util_icon{
    width: 28px;
    height: 28px;
    display: block;
}

.header .rightbox .nav_util .nav_util_icon.icon_cart {
    background: url(../images/icon_cart_white.png) no-repeat center / cover;
}

.header:hover .nav_util .nav_util_icon.icon_cart {
    background-image: url(../images/icon_cart_black.png);
}

.header .rightbox .nav_util .item .nav_util_icon.icon_cart .num {
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    position: absolute;
    right: -8px;
    top: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #333;
    font-size: 13px;
    font-weight: 500;
    border-radius: 9px;
    text-align: center;
}

.header:hover .rightbox .nav_util .item .nav_util_icon.icon_cart .num {
    background-color: #333;
    color: #fff;
}

.header .rightbox .nav_util .item .nav_util_icon.icon_more {
    background: url(../images/icon_more_white.png) no-repeat center / 28px 28px;
    height: 80px;
}

.header:hover .rightbox .nav_util .item .nav_util_icon.icon_more {
    background: url(../images/icon_more_black.png) no-repeat center / 28px 28px;
}

.header div.inpSrchWrap i:hover {
    background-image: url(../images/Icon_search_hover.png);
}

.header .rightbox .nav_util .nav_util_icon.icon_cart:hover {
    background: url(../images/icon_cart_hover.png) no-repeat center / cover;
}

.header .rightbox .nav_util .item .nav_util_icon.icon_more:hover {
    background: url(../images/icon_more_hover.png) no-repeat center / 28px 28px;
}

.rightbox .nav_drop {
    display: flex;
}

.rightbox .nav_drop .item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    margin-right: 24px;
    color: #fff;
    cursor: pointer;
    position: relative;
    height: 80px;
}

.rightbox .nav_drop .item:last-child {
    margin-right: 0;
}

.rightbox .nav_drop .item > a {
    color: #fff;
}

.rightbox .nav_drop .item.arr .icon_drop_arr {
    display: inline-block;
    margin-left: 7px;
    width: 7px;
    height: 4px;
    background: url(../images/icon_drop_white.png) no-repeat center / 7px 4px;
}

.header:hover .rightbox .nav_drop .item .icon_drop_arr {
    background: url(../images/icon_drop_black.png) no-repeat center / 7px 4px;
}

.header:hover .rightbox .nav_drop .item > a,
.header:hover .rightbox .nav_drop li {
    color: #333;
}

.header .rightbox .nav_drop .item > a:hover,
.header .rightbox .nav_drop .item:hover {
    color: #6C801A;
}

/* main swiper */
.cont {
    position: relative;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .align {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1320px;
    height: 100%;
    width: 100%;
    padding: 0 60px;
}

.swiper-slide .align .txtbox {
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    padding-top: 50px;
    position: absolute;
    text-align-last: left;
    cursor: pointer;
}

.swiper-slide .align .txtbox .title {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: -0.04em;
}

.swiper-slide .align .txtbox .onepoint {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 300;
}

.swiper-slide .align .txtbox .date {
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
}

.swiper-slide .align .btn_event_go {
    position: absolute;
    left: 60px;
    bottom: 40px;
    border: 1px solid #555;
    width: 110px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 300;
    color: #333;
    background-color: transparent;
    z-index: 2;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.swiper-slide .align .btn_event_go:hover {
    background-color: #666;
    color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
    width: 60px;
    height: 60px;
}

.align_box02 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 1600px;
    width: 100%;
    z-index: 1;
}

.swiper-button-next {
    background: url(../images/main_next_btn.png) no-repeat center / cover;
}

.swiper-button-prev {
    background: url(../images/main_prev_btn.png) no-repeat center / cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next:hover {
    background: url(../images/main_next_btn_hover_1.png)
}

.swiper-button-prev:hover {
    background: url(../images/main_prev_btn_hover_1.png)
}

.swiper_control {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.swiper-pagination {
    flex: 0 0 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 17%;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 2px;
    background-color: rgba(51,51,51,0.1);
    border-radius: 0;
    flex: 1 0 1px;
    opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    transition: all .4s;
}

.swiper-pagination-bullet-active {
    background-color: #333;
}

.main_prd_list {
    margin: 48px auto 0;
}

.main_prd_list .tit_box {
    display: flex;
    align-items: center;
}

.main_prd_list .tit_box .text01 {
    font-size: 28px;
}

.prd_list_slide .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    width: 224px;
    margin-right: 20px;
    position: relative;
}

.main_prd_list .w1200_2 .prd_tab_con {
    height: auto;
    padding-top: 30px;
    overflow: visible;
}

.prd_list_slide .swiper-wrapper .swiper-slide .tmbhover {
    display: none;
}

.prd_list_slide .swiper-wrapper .swiper-slide:hover .tmbhover{
    display: block;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.prd_thumb {
    cursor: pointer;
}

.prd_info {
    min-height: 70px;
    text-align-last: left;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}

.prd_desc {
    margin-top: 15px;
    margin-left: 0;
}

.prd_name {
    font-size: 16px;
    line-height: 1.2;
    word-break: keep-all;
}

.prd_price {
    font-size: 18px;
    font-weight: 600;
    margin-top: 6px;
}

.main_btn_typeA {
    margin-top: 48px;
    padding-right: 0;
    text-align: center;
}

.main_btn_typeA button {
    width: auto;
    padding: 0 60px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #666;
    background-color: #fff;
}

.main_btn_typeA button::after {
    content: '';
    display: inline-flex;
    width: 5px;
    height: 9px;
    margin-left: 10px;
    background: url(../images/icon_main_btn.png) no-repeat 0 0 / cover;
}


/* sec3 */
.secToday .todaySect {
    position: relative;
    height: 275px;
    margin: 85px 0;
    letter-spacing: -0.03em;
    color: #333;
}

.todayBg img {
    width: 100%;
    height: auto;
}

.todayTxt {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 40px 56px 30px 60px;
    cursor: pointer;
}

.todayTit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todayTit h3 {
    font-size: 28px;
    letter-spacing: -0.05em;
    font-weight: 500;
}

.todayTxt h4 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 40px;
}

.todayPrice {
    display: flex;
    gap: 15px;
    align-items: center;
}

.todayPrice .cost {
    font-size: 18px;
    color: #847A8A;
    text-decoration: line-through;
}

.todayPrice .discount {
    font-size: 30px;
}

.todayPrice .salePer {
    font-size: 27px;
    font-weight: 500;
    color: #fff;
    width: 74px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #FD5C5C;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sec4 */
.main_sec {
    width: 100%;
}

.banner_collection {
    margin-top: 80px;
    padding: 80px 0;
    background-color: #f6f6f6;
}

.banner_collection .w1200 {
    padding: 0 20px;
}

.banner_collection h3 {
    font-size: 28px;
    letter-spacing: -0.05em;
    font-weight: 500;
    margin-bottom: 14px;
}

.banner_collection h3 ~ p {
    font-size: 16px;
    color: #999;
    margin-bottom: 24px;
}

.banner_collection .flex_box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.banner_collection .flex_box :is(.con_box01, .con_box02) {
    flex: none;
    width: calc(50% - 10px);
}

.banner_collection .flex_box .con_box02 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* sec5 */
.bannerFlex {
    display: flex;
    gap: 20px;
    margin: 80px 0;
}

.bannerFlex :where(.BannerCheck, .BannerStory) {
    position: relative;
}

.secBanner a img {
    width: 100%;
    height: auto;
}

.bannerFlex :where(.BannerCheck, .BannerStory) .text_box {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2px;
    letter-spacing: -0.03em;
}

.bannerFlex .BannerCheck .text_box .text01 {
    font-size: 26px;
    font-weight: 500;
}

.bannerFlex .BannerCheck .text_box .text02 {
    font-size: 14px;
    font-weight: 400;
}

.bannerFlex .BannerStory .text_box .text01 {
    font-size: 18px;
    line-height: 1;
    color: #CFCAC2;
}

.bannerFlex .BannerStory .text_box .text02 {
    font-size: 26px;
    font-weight: 500;
    color: #fff;
}

/* sec6 */
.main_store_banner {
    margin-top: 80px;
}

.sec_tit .text01 {
    font-size: 28px;
    font-weight: 500;
}

.sec_tit .text02 {
    margin-top: 20px;
    font-size: 16px;
    color: #999;
}

.dada_banner .btn_main_store_banner {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 80px;
    display: block;
    position: relative;
}

.dada_banner .btn_main_store_banner img {
    width: 100%;
    height: auto;
}

.main_store_banner .text_box_2 {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    color: #fff;
    font-family: "Gowun Dodum", sans-serif;
}

.stdd_main_wrap .main_store_banner .text_box_2 .sub_txt {
    font-size: 16px;
    margin-bottom: 20px;
}

.main_store_banner .text_box_2 .title {
    font-size: 30px;
    width: 100%;
    text-align: left;
}

/* footer */
.footer .wrap1 {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #67625d;
    height: 63px;
}

.footer .wrap1 .inner1600 {
    overflow: hidden;
    height: 63px;
    margin: 0 auto;
    position: relative;
}

.footer .wrap1 .right {
    z-index: 5;
    position: absolute;
    top: 11px;
    right: 30px;
}

.wrap1 .right a {
    float: left;
    margin-left: 14px;
}

.wrap1 .right .footer_login {
    display: block;
    width: 94px;
    height: 40px;
    margin-right: 6px;
    padding: 6px 0;
    border: 1px solid #2a2a2a;
    background: #3f3e3c;
    font-size: 15px;
    color: #fff;
    line-height: 1.6;
    text-align: center;
}

.wrap2 .left1 {
    float: left;
    margin-top: 40px;
}

.wrap2 .tit {
    font-size: 14px;
    color: #7b7b7b;
}

.wrap2 .left1 a {
    font-weight: 500;
    color: #595959;
    font-size: 18px;
}

.wrap2 .left1 .phone {
    font-size: 33.7px;
    color: #595959;
    margin-top: 1px;
    line-height: 1;
}

.wrap2 .left1 .time {
    font-family: inherit;
    font-size: 12px;
    color: #828282;
    letter-spacing: -0.5px;
    margin-top: 2px;
}

.wrap2 .left2 {
    float: left;
    margin-top: 40px;
    margin-left: 100px;
}

.wrap2 .tit {
    font-size: 14px;
    color: #7b7b7b;
}

.wrap2 .left2 .phone {
    margin-top: 5px;
    font-size: 18px;
    color: #585858;
}

.wrap2 .left2 a {
    font-weight: 700;
    color: #595959;
    text-decoration: underline;
}

.wrap2 .left2 .mail {
    color: #6b6b6b;
    font-size: 12px;
    letter-spacing: -0.5px;
}

.wrap2 .left2 .mail span {
    font-weight: 700;
    font-size: 12px;
    color: #797979;
}

.wrap2 .left2 .mail p {
    font-size: 12px;
    margin-top: 10px;
}

.wrap2 .right {
    float: right;
    margin-top: 26px;
    height: 112px;
    border-left: 1px solid #efefef;
    padding-top: 20px;
    display: flex;
}

.wrap2 .right a {
    display: inline-block;
    margin-left: 60px;
    text-align: center;
}

.wrap2 .right a:first-of-type {
    margin-left: 50px;
}

.wrap2 .right a span {
    display: block;
    margin-top: 10px;
    color: #505051;
    font-size: 16px;
    line-height: 1.2;
}

.wrap3 {
    height: auto;
    padding: 0 0 35px;
}

.wrap3 .logo {
    width: 120px;
    text-align: center;
    margin-top: 20px;
    float: left;
}

.wrap3 .left {
    float: left;
    margin-left: 25px;
    margin-top: 35px;
    width: auto;
    max-width: calc(100% - 480px);
}

.wrap3 .left .cont1 ul {
    color: #000;
    font-size: 12px;
}

.wrap3 .left .cont1 ul li {
    display: inline-block;
    letter-spacing: -0.5px;
}

.wrap3 .left .cont1 ul li a{
    color: #000;
}

.wrap3 .left .cont1 ul li::after {
    content: "I";
    margin: 0 10px;
}

.wrap3 .left .cont1 ul li:last-of-type::after {
    content: "";
}

.wrap3 .left .cont2 {
    margin-top: 15px;
    font-size: 12px;
    letter-spacing: -0.5px;
    position: relative;
    background: none !important;
}

.wrap3 .left .cont2 .address {
    font-size: 12px;
    color: #a0a0a0;
    line-height: 18px;
}

.wrap3 .left .cont2 .info {
    width: 111px;
    height: 28px;
    line-height: 26px;
    color: #828282;
    background: #fafafa;
    text-align: center;
    border: 1px solid #ededed;
    position: static;
    display: inline-block;
    margin-left: 5px;
}

.wrap3 .right {
    float: right;
}

.wrap3 .right .box {
    color: #828282;
    width: 310px;
    height: auto;
    margin-top: 35px;
    padding: 15px 20px;
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.5px;
    font-size: 12px;
    border: 1px solid #e8e8e8;
}

.wrap3 .right .box .tit {
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: -0.3px;
}

.wrap3 .right .box .note {
    float: right;
    width: 202px;
    margin: 0;
    padding-top: 2px;
    line-height: 1.3;
    letter-spacing: -0.5px;
}

.wrap3 .right .box .escrow_img {
    float: left;
    display: block;
    width: 43px;
    margin: 4px 8px;
    cursor: pointer;
}