@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Arita-dotum-Medium';
}

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,p,button,form,fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

p {
    line-height: 1.5;
}

button {
    font-family: 'Arita-dotum-Medium';
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.w1200 {
    max-width: 1240px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.inner1600 {
    padding: 0;
    max-width: 1400px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}