@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
* {box-sizing: border-box;}
body{transition: .8s;}
#wrapper{will-change: transition, background-color;}
.top-wrapper {width: 100%; height: 100%; position: relative;}
.link-button {width: 157px; height: 157px; display: flex; justify-content: center; align-items: center; font-family: "Nanum Myeongjo", serif; border: 1px solid #000000b3; border-radius: 50%; transition: .4s;}
.link-button:hover {scale: 1.05;}
.link-button .text {font-size: 14px; transition: .4s;}