@charset "utf-8";

/* ---------------------------공통부분--------------------------- */
html,
body,
header,
nav,
div,
h1,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
}

body {
    font-family: '맑은 고딕', '돋움', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.9;
}

.inner::after {
    content: '';
    display: block;
    clear: both;
}

.depth1::after {
    content: '';
    display: block;
    clear: both;
}

/* ---------------------------헤더부분--------------------------- */
.header {
    border: 1px solid red;
}

.header .inner {
    background-color: cornsilk;
    width: 1168px;
    margin: 0 auto;
    position: relative;
}

.logo {
    float: left;
}

.gnb {
    position: absolute;
    left: 200px;
    top: 0;
}

.gnb .depth1 {
    border: 1px solid yellowgreen;
}

.gnb .depth1>li {
    float: left;
    margin-left: 60px;
    outline: 2px solid cornflowerblue;
    position: relative;
}

.gnb .depth1>li>a {
    border: 2px solid rebeccapurple;
    line-height: 80px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}

.depth2 {
    background-color: wheat;
    position: absolute;
    left: 0;
    top: 80px;
    padding-top: 40px;
    white-space: nowrap;
}

.depth2 li {
    border: 1px solid brown;
    line-height: 1.6;
    margin-top: 15px;
}
.depth2 li:first-child{
    margin-top: 0;
}

.depth2 li a {
    display: block;
}
.depth2 li a:hover {
    text-decoration: underline;
    color: #000;
}


.depth3{
    background-color: cadetblue;
    padding-top: 40px;
    position: absolute;
    left: 0;
    top: 80px;
    white-space: nowrap;
}
.depth3 li{
    line-height: 1.6;
    margin-top: 15px;
    outline: 1px ;
}
.depth3 li:first-child{
    margin-top: 0;
}
.depth3 li a{
    display: block;
}
.depth3 li a:hover{
    text-decoration: underline;
    color: #000;
}
.depth4{
    background-color: aquamarine;
    padding-top: 40px;
    position: absolute;
    left: 0;
    top: 80px;
    white-space: nowrap;
}
.depth4 li{
    line-height: 1.6;
    margin-top: 15px;
    outline: 1px ;
}
.depth4 li:first-child{
    margin-top: 0;
}
.depth4 li a{
    display: block;
}
.depth4 li a:hover{
    text-decoration: underline;
    color: #000;
}
.depth5{
    background-color: wheat;
    padding-top: 40px;
    position: absolute;
    left: 0;
    top: 80px;
    white-space: nowrap;
}
.depth5 li{
    line-height: 1.6;
    margin-top: 15px;
    outline: 1px ;
}
.depth5 li:first-child{
    margin-top: 0;
}
.depth5 li a{
    display: block;
}
.depth5 li a:hover{
    text-decoration: underline;
    color: #000;
}





.util {
    float: right;
}

.util a {
    float: left;
}

.util .topSearch {
    float: left;
}