/* ------------------공통영역------------------ */
html,
body,
h1,
h2,
ul,
li,
ol,
a,
p,
div {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
}
body{
    font-family: '맑은 고딕','돋음',sans-serif;
}
.wtsNew{
    /* border: 1px solid red; */
}
.inner{
    width: 1168px;
    margin: 0 auto;
    background-color: beige;
}
.Mtit{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 60px;
}
.wtsNew li{
    float: left;
    outline: 1px solid salmon;
    margin-left: 35px;
}
.wtsNew li:first-child{
    margin-left: 0;
}
.wtsNew::after{
    content: '';
    display: block;
    clear: both;
}
.wtsNew li a{
    box-shadow: 0 3px 4px #000;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.wtsNew .con{
    padding: 10px 0 20px 20px;
}