/* -----------------------------------공통----------------------------------- */
html,body,header,div,h1,h2,h3,h4,h5,h6,nav,a,img,ul,ol,li,p{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: '맑은 고딕','돋음',Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}

.wrap{
    width: 1280px;margin: 0 auto;}
/* -----------------------------------비주얼영역---------------------------------- */
.visual{
    height: 1050px;
    background: url(../img/main_v_20230324-1.jpg)no-repeat fixed center center/cover;
}
/* -----------------------------------소개영역---------------------------------- */
.overview{
    padding-top: 110px;
    padding-bottom: 160px;
    background: url(../img/wave_01.png) no-repeat 50% 100%/100% 0;
    background-size: 100% auto;
}
.wrap ul .left-col{float: left;}
.wrap ul .right-col{float: right;}
.wrap ul{overflow: hidden;}
/* -----------------------------------메인보드영역---------------------------------- */
.main-board{border: 1px solid purple;}
.notice{width: 50%;float: left;}
.banner{width: 50%;float: right;}
.main-board::after{content: '';display: block;clear: both;}

.banner li a{
    border: 1px solid #000;
    display: block;
}
.banner1{float: left;width: 50%;}
.banner2{float: left;width: 50%;}